.school-text-font {
  font-family: Brush Script MT;
  color: white;
}

.news {
  transition: all 0.4s;
  &-line {
    width: 0;
  }
  &:hover {
    color: white;
  }
  &:hover + &-line {
    transition: all 0.3s linear;
    height: 0.25rem;
    width: 12rem;
  }
}
.section {
  &-header {
    width: 90rem;
  }
  &-nav {
    width: 90rem;
  }
}
.nav {
  &-link {
    &:active,
    &:visited,
    &:link {
      font-size: 1.5rem;
      font-weight: lighter;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
/* SLIDER */
.slider {
  max-width: 100rem;
  height: 20rem;
  position: relative;
  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100rem;
  height: 20rem;
  /* THIS creates the animation! */
  transition: transform 0.5s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-body {
  width: 90rem;
  display: flex;
  &-left {
    margin-left: 5rem;
    background-color: red;
    width: 50rem;
  }
  &-right {
    width: 25rem;
    background-color: grey;
  }
}
.slider2 {
  width: 100%;
  height: 20rem;
  position: relative;
  /* IN THE END */
  overflow: hidden;
}
.slide2 {
  padding: 1rem;
  margin-right: 2rem;
  position: absolute;
  top: 0;
  width: 100%;
  height: 20rem;
  /* THIS creates the animation! */
  transition: transform 0.5s;
}
